@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Malgun Gothic","Arial";
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.logo-graphic {
    width: 50px;
    height: 50px;
    background: conic-gradient(#20c997 120deg, #22b8cf 120deg 240deg, #479ee5 240deg 360deg);
    position: relative;
    text-align: center;
    line-height: 50px;
    color: #fff;
}

#visual {
     width: 100%;
     height: 500px;
     position: relative;
     overflow: hidden;
}

.slider-pannel {
    width: 300%;
    height: 100%;
    background-color: #ddd;
    display: flex;
    position: absolute;
    justify-content: space-between;
    left: 0;
    /*transition: left .4s;*/
}

.slider-pannel > img {
    width: calc(100% / 3);
    height: 100%;
    object-fit: cover;
}

.controller-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    z-index: 10;
}

#before {left: 30px;}
#next {right: 30px;}

.controller-btn:hover {
    background-color: #ddd;
}

.visual-btn-box {
    position: absolute;
    bottom: 10px;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
}
.visual-btn-box > button {
    width: 30px;
    height: 30px;
}

.visual-btn-box > button.active {
    background-color: #333030;
    color: #fff;
}

#introduce {
    margin: 30px 0;
}

footer {
    width: 100%;
    padding: 30px;
    background-color: #333030;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.place-list > .card:hover {
    background-color: #e7e7e7;
}

.nav {
    display: block !important;
}

.card-norun {
    background-color: #ffe0e0;
    cursor: no-drop;
}

.card-norun:hover {
    background-color: #facaca;
}

.card-onrun {
    background-color: #cffab7;
}

.card-onrun:hover {
    background-color: #b5f293;
}


#login {
    display: none;
}

#join {
    display: none;
}

.card-tooltip {
    width: 200px;
    height: 100px;
    position: fixed;
    z-index: 10;
    /*top: 0;
    left: 0;*/
    background-color: #f7f7f7;
    color: #222;
    border:1px solid #ddd;
    display: none;
}

.card.col-4 {
    position: relative;
}

#event_popup {
    display: none;
}

#reservation_popup {
    display: none;
}

#ui-datepicker-div {
    z-index: 1000 !important;
}

#reservation_popup {
    display: none;
}

#reserve {
    display: none;
}

#toast {
    display: none;
    opacity: 1;
    z-index: 1001 !important;
}